*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 20px;
}
.three-kittie img{
    align-items: center;
    gap: 20px;
    width: 100px;
    height: 100px;
}
h3{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 40px;
}
.content{
width: 100%;
}
.three-kittie img {
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    width:15em;
    height:15em;
  }
  .kitten img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:15em;
    height:15em;
  }  
  img {
    display: inline-block;
    margin: 25px 10px;
  }
.two-cats{
    display: flex;
    /* float: left; */
    /* margin-left: 20px;
    row-gap: 20px; */
}
.kats{
    float: left;
    padding-right: 15px;
}
.ending{
    text-align: center;
    font-size: 20px;
}
@media screen and(max-width:680px){
    .container{
        width: 100%;
    }
    .kitten img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 780px){
    .top-container{
        display: flex;
    }
    .top-container p{
        max-width: 500px;
        margin: 5px;
    }
    .desc-content{
        width: 350px;
    }
    img{
     float: left;
     padding:20px;
    }
    .kats img{
        float:left;
    }
}
